" Enable relative line numbers
set relativenumber

" scroll begins 15 lines before the edge
set scrolloff=10


set showmode
set showcmd
set visualbell
set clipboard+=unnamed


set ignorecase
set smartcase
set incsearch
set hlsearch

let mapleader = " "

set surround

set highlightedyank

nnoremap <leader>o o<Esc>
nnoremap <leader>O O<Esc>